@model IEnumerable<OSwan_TheatreApp.Models.Post>

@{
    ViewBag.Title = "UsersPosts";
}

<h2><u>Your Posts</u></h2>


<p>
    @Html.ActionLink("Create New Post", "CreatePost", "Member")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Text
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>



@foreach (var item in Model) {

    <!--Only the users approved status will be able to be edited-->
    if (item.ApprovalStatus == ApprovalStatus.Approved)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "DeletePost", new { id = item.PostId })
        </td>
    </tr>
    }
}

</table>
