@model OSwan_TheatreApp.Models.Post
@using OSwan_TheatreApp.Models

@{
    ViewBag.Title = "AnnouncementOfTheDay";
}

<h2>Announcement Of The Day</h2>

<div>
    <hr />


    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary"></strong>
            <h2 class="mb-0">
                @Html.DisplayFor(model => model.Title)
            </h2>
            <span class="text-info"> Posted By: @Html.DisplayFor(model => model.User.FirstName) </span>
            <div class="mb-1 text-info">@Html.DisplayFor(model => model.DatePosted)</div>
            <p class="card-text mb-auto">@Html.DisplayFor(model => model.MainBody)</p>
        </div>
        @if (Model.ImageUrl != null)
        {
            <img src="@Url.Content("~/Images/Uploaded/" + Model.CategoryId + Model.Title +".jpg")" alt="@Model.Title" style="height: 350px; width:500px;" class="img-responsive img-rounded" />
        }
        else
        {
            <p class="text-muted">This post has no image attatched</p>
        }
    </div>
</div>

<hr />

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Post Comment", "CreateComment", new { id = Model.PostId })

}


@if (Model.Comments.Any())
{
    <ul>
        <li>
            @foreach (var comment in Model.Comments)
            {
                if (comment.commentApprovalStatus == commentApprovalStatus.Approved)
                {
                    @comment.Text
                    if (comment.UserId != null)
                    {

                        @: (by @comment.CommentAuthor Posted on @comment.Date)
                        if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {

                            <span class="pull-right">@Html.ActionLink("Delete", "DeleteComment", new { id = comment.CommentId })</span>
                        }
                        <hr />

                    }
                }
            }
        </li>
    </ul>
}
else
{
    <p>No Comments!</p>
}


<p>

    @Html.ActionLink("Back to List", "Index")
</p>
