@model IEnumerable<OSwan_TheatreApp.Models.Post>
@using OSwan_TheatreApp.Models

@{
    ViewBag.Title = "BlogHome";
}

<style>
    span {
        color: blue;
    }
</style>

<h2>Blog Home</h2>


@if (Request.IsAuthenticated)
{
    if (User.IsInRole("RegisteredUser") || User.IsInRole("Moderator"))
    {
        <p>
        @Html.ActionLink("Create New Post", "CreatePost", "Member")
        </p>
    }
}


@using (Html.BeginForm())
{
    <p>
        Find posts by category: @Html.TextBox("SearchString")

        <input type="submit" value="Search" />
    </p>
}

<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ApprovalStatus == ApprovalStatus.Approved)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments.Count)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PostId })
                </td>
            </tr>
        }
    }

</table>
