@model OSwan_TheatreApp.Models.Post
@using OSwan_TheatreApp.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>

    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Post Comment","CreateComment", new { id = Model.PostId})

    }


    @if (Model.Comments.Any())
    {
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>
                    @comment.Text
                    @if (comment.UserId != null)
                    {
                        @: (by @comment.CommentAuthor)
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No Comments!</p>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "BlogHome")
</p>
